*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'image sidebar' 'slider sidebar';
  height: 100vh;
  width: 100vw;
  background-color: #ffff;
}

.main-img {
  grid-area: image;
  background: rgb(61, 61, 61);
  background-image: url('https://images.unsplash.com/photo-1663051636926-a9719e8f174c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar {
  grid-area: sidebar;
  background: #302a2a;
  border-left: 1px solid #a2a2a2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background: #262323;
  color: #a2a2a2;
  padding: 1rem;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: all 0.15s;
}

.sidebar-item::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background: #666666b1;
  bottom: 0;
  left: 10%;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background: #1f1e1e;
  color: #ffffff;
}

.sidebar-item.active {
  background: #0b0a0a;
}

.sidebar-item.active:hover {
  background: #1e1d1d;
}

.slider-container {
  grid-area: slider;

  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}
